@import url('https://fonts.googleapis.com/css?family=PT+Sans|Poppins&display=swap');
body{
    font-family: 'Poppins', sans-serif;
    font-weight: 100;
}
@media only screen and (min-width: 768px) {
    body {
         width: 200%;
    }
  }
.first-text {
    background-image: url("../img/h_img.jpg");
    background-size: 100% 100%;
    height: 700px;
    width: 1200px;
    text-align: center;
    color: whitesmoke;
    background-repeat:no-repeat;
}
/* .first-text>h1 {
    font-size: 30px;
} */
.us {
    text-align: center;
    padding: 30px;
}

.three {
    background-image: url("../img/s_image.jpg");
    background-size: 100% 100%;
    height: 400px;
    width: 100%;
    text-align: center;
    background-repeat: no-repeat;
    color: white;
    margin: 0 auto;
}
.three>p {
    text-align: center;
}
#line1 {
    border: 0px solid black;
    display: flex;
    /* flex-direction: row; */
    align-items: center;
    padding-top: 30px;
    margin: auto;
    text-align: center;
    /* margin-left: 100px; */
    /* /* margin-right: 600px; */
} 
#line1 img {
    height: 200px;
    width: 200px;
}
#line2 {
    border: 0px solid black;
    display: flex;
    /* flex-direction: row; */
    align-items: center;
    padding-top: 30px;
    margin: auto;
    text-align: center;
    /* margin-left: 200px;
    margin-right: 600px; */
}
.contact {
    background-image: url("../img/c_image.jpg");
    padding-top: 100px;
    text-align: center;
    background-size: 100% 100%;
    height: 400px;
    width: 1100px;
    margin-left: 15px;
    position: relative;
    border: 0px solid;
    color: white;
    padding: 50px;
}
/* .line1>img {
    height: 150px;
    width: 150px;
} */
#line2 img {
    height: 200px;
    width: 200px;
}
.four {
    padding: 50px;
    text-align: center;
}
.port {
    align-items: center;
    /* margin-left: 80px; */
}
#wedo {
    border: 0px solid black;
    display: flex;
    flex-direction: row;
    padding: 20px;
    margin-left: 10px;
    /* padding: 20px; */
}
#des {
    float: left;
}
#dev {
    border: 0px solid black;
    padding: 20px;
}
#pro {
    border: 0px solid;
    float:  right;
}
.form-control {
    background: transparent;
    border-radius: 0px;
}
#media {
    padding: 100px;
    border: 0px solid;
    margin-left: 200px;
    margin-right: 100px;
}
.cp {
    text-align: center;
}
#despar {
    margin-top:5px;
    display: none;
}
#devpar {
    margin-top:5px;
    display: none;
}
#propar {
    margin-top:5px;
    display: none;
}
#one {
    margin-top:-90px;
}
#two {
    margin-top:-90px;
}
#three {
    margin-top:-90px;
}
#four {
    margin-top:-90px;
}
#five {
    margin-top:-90px;
}
#six {
    margin-top:-90px;
}
#seven {
    margin-top:-90px;
}
#eight {
    margin-top:-90px;
} 

p>small{
    margin-top: -50px;
}
#services {
    margin-left: 100px;
}
input[type="text"]::placeholder {
    color: white;
}
textarea.form-control::placeholder {
    color: white;
}
h4 {
    text-align: center;
}
#color {
    color: black;
}
.footer {
    align-items: center;
    padding-top: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px;


}
#color {
    display: flex;
    text-align: center;
    justify-content: center;
}
.footer img{
    margin: 10px;
}