.first-text {
    background-image: url("../img/h_img.jpg");
    height: 1000px;
    width: 1700px;
    text-align: center;
    color: white;
}
.first-text>h1 {
    font-size: 30px;
}
.first-text>p {
    font-size: 10px;
}
.us {
    text-align: center;
}
.three {
    background-image: url("../img/s_image.jpg")
}
h1 {
    font-size: 20px;
}